
	<div class="col-md-4">
		<form>
			<div class="form-group">
				<input type="text" class="margin-bottom-10 form-control input-lg text-center" placeholder="link of image" ng-model="newPlayer.profile_picture">
				<input type="text" class="margin-bottom-10 form-control input-lg text-center" placeholder="first and last name" ng-model="newPlayer.player_name">
				<input type="text" class="margin-bottom-10 form-control input-lg text-center" placeholder="player position" ng-model="newPlayer.position">
				<input type="text" class="margin-bottom-10 form-control input-lg text-center" placeholder="team name" ng-model="newPlayer.team">
				<input type="text" class="margin-bottom-10 form-control input-lg text-center" placeholder="NBA rank" ng-model="newPlayer.rank">
			</div>
			<button type="submit" class="btn btn-primary btn-lg" ng-click="submitPlayer()">Add Player</button>
			 <p class="col-md-12 help-block error" ng-show="message">{{message}}</p>
		</form>
	</div>


