
  <div class="col-sm-7">
     <input placeholder="search by name or team"  class="form-control" type="text" ng-model="query"/>
  </div>
  <div class="col-sm-5">
    <a class="btn btn-primary margin-bottom-25" href="#/addplayer">Add Player</a>
  </div>


<div ng-cloak class="col-sm-6 margin-bottom-25 border flip-container" ng-repeat="data in player_profiles.player | orderBy: 'rank' | filter: query" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
   <div class="flipper">
      <div class="front">
  		  <img ng-src="{{ data.profile_picture }}"  class=" player-image"/>
      </div>
      <div class="back">
        
      	<h4 class="white-color roboto-condense font-25">{{ data.player_name | uppercase }}</h4>
      	<p class="white-color">{{ data.team | uppercase}}</p>
      	<span class="label label-default">{{data.position | uppercase}}</span>
      </div>
  </div>
</div>